*{
    margin: 0;
    
}
.head{
    margin: 20px;
     width:100%;
    display:flex;
    justify-content:center;
}
.but{
    background-color: black;
    height: 20px;
    width: 20px;
    border-radius: 1000px;
}
.para{
    display: flex;
    justify-content: center;
}
.cont{
    height: 100px;
    width: 100px;
    
    border-radius: 20px;
    font-size: 30px;
 text-align: center;   /* center horizontally */
   background-color: antiquewhite;
   
}
.button{
    display: flex;
    gap: 20px;
    height: 150px;
    justify-content: center;
    margin-top: 30px;
}
.comp{
    display: flex;
    align-items: center;
    
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}
.send{
    color: blue;
     text-decoration: underline;
}
.verify{
    height: 50px;
    width: 100px;
     background-color: rgb(102, 102, 243);
     color: white;
     border-radius: 30px;
     
}
.veri{
    display: flex;
    justify-content: center;
    margin: 30px;
   
}
button{
    height: 90px;
    width: 90px;
    margin-bottom: 5px;
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.2); /* transparent white */
    backdrop-filter: blur(10px);           /* blur background */
    -webkit-backdrop-filter: blur(10px);

    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.3);
    font-size: 23px;
}
.butto{
    display: grid;
    grid-template-columns: repeat(4,80px);
    gap: 16px;
}
.success-page{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    color:white;
}

.tick{
    font-size:120px;
    background:white;
    color:green;
    width:150px;
    height:150px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}