*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#111827;
    text-align: center;
}
h1{
    color: aquamarine;
}
.container{
    height: 18vmin;
    width: 18vmin;
    border-radius: 19px;
    background-color:#374151;
   
    

}
.box{
    
    height: 60vmin;
    width: 60vmin;
   display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    

}
.compl{
    display: flex;
    height: 70vh;
   
    justify-content: center;
    align-items: center;
}
.rese{
    background-color: black;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 20px;
}
.msg{
    display: none;

    
}

.wi{
    font-size: 40px;
    font-weight: bolder;
    color:#10B981;
}
#btn{
background-color: black;
color: white;
height: 50px;
width: 100px;
border-radius: 20px;
}
